{% if DISQUS_SITENAME %}
<div id="disqus_thread"></div>
<script type="text/javascript">
	var disqus_shortname = '{{ DISQUS_SITENAME }}';
	(function() {
		var d = document, s = d.createElement('script'); s.type = 'text/javascript'; s.async = true;
		s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
